body {
  margin: 0;
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-image: linear-gradient(-225deg, rgba(255, 254, 255, 0.527) 0%, #D7FFFE 100%); */
  min-height: 100vh;
  text-align: center;
}

.navApp{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(37, 44, 46);
  color: white;
}

.navLinks{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logoIcon{
  display: inline;
  margin: 10px;
}
 
 .testt{
  font-size: 40px;
  margin: 0px 0 -10px 0;
  animation:spin 6s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 

.burger {
  display: none;
}

.burger:hover{
  cursor: pointer; 
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: .3s;
}


body, html {
  position: relative;
  overflow-x: hidden;
} 


@media screen and  (max-width: 1200px) {
  .navLinks {
    position: absolute;
    right: 0px;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    overflow: hidden;
  }

   .navLinks li{
    width: 100%;
    /* height: calc(50vh / 8); počet li */
    /* line-height: 58px; */
    padding-left: 300px;
    padding-right: 300px; 
    line-height: 3;
    white-space: nowrap;
    background: rgba(37, 44, 46, 0.972);
  }

  li:hover{
    background: rgba(49, 57, 59, 0.972);
  }

  .burger {
    display: block;
    cursor: pointer;
  }
 
  
}


.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-400deg) translate(-5px, 6px);
  transition: 2s ease;
}

.toggle .line2 {
  opacity: 0;

}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(400deg) translate(-5px, -6px);

  transition: 2s ease-in-out;
}


/* 

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);

  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
} 



 */
