.allDivs{
    display: flex;

    justify-content: center;
}

.sqare {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    outline: none;
    border: none;
    margin: 1px;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;

  
}

.TicH1{
    color: white;
    margin-top: -150px;

}

.sqare:active {
    background-color: none;
  }

.square:active {
    margin-top: 50px;
    color: red;
  }

.TicBorder{
    margin-top: 150px;
    padding: 50px;    
}


.inlineDiv{
    display: block;
    margin: 50px;
    font-size: 25px;
}
