:root {
  --sirkaStlpcov: 25px;
  --fontSizeRed: 11px;
  --fontSize: 15px;
}


/* .confirmed{
    color: red;
}

.recovered{
    color: green;
}

.death{
    color: black;
}


.SliderGraf{
    /* border:3px solid red; 
    width: 80%;
    margin-left: 10%;
}
 


  .slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

/* 
  .graph{
      margin-top: 50px;
      border:3px solid red;
      width: 50%;
      height: 50px;
      background: red;
      transition: .5s;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }

  .graph:hover{
      width: 60%;
  } */

  /* .pocetSpan{
      color: white;
      font-weight: bold;
  } */


  .svkGraf{
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;
    height: 50vh;
    margin-bottom: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 30px;
    border-bottom: 1px solid black;
    /* border:3px solid red; */
  }

  .dayXFirst{
    background-image: linear-gradient(to right, #d66f68c5 0%, #ff0000d0 100%);
    display: flex;
    align-self: flex-end;
    width:  var(--sirkaStlpcov);
    transition:  .4s;
    position: relative;
  }

  .dayX{
    background-image: linear-gradient(to right, rgb(236, 145, 139) 0%, #db2222 100%);
    /* background: rgba(219, 20, 20, 0.787); */
    display: flex;
    align-self: flex-end;
    width:  var(--sirkaStlpcov);
    transition:  .4s;
    position: relative;
  }

  

  .spanDate{
    transform: rotate(30deg);
    white-space: nowrap;
    text-align: left;
    position: absolute;
    bottom: -40px;
  }

  .covidApp{
    padding-bottom: 1px;
  }

  .countAll{
    width: 100%;
    font-size: var(--fontSize);
  }
  .countup{
    margin-top: -30px;
    font-size: var(--fontSize);
    
  }
  .countupFirstRed{
    color: red;
    position: absolute;
    margin-top: -16px;
    font-size: var(--fontSizeRed);
    width: 100%;
  }

  .countup2{
    margin-top: -25px;
  }
 
  .countupX2{
    margin-top: -25px;
    z-index: 1;
  }


  .dayX2{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    align-self: flex-end;
    width:  var(--sirkaStlpcov);
    transition:  .4s;
    margin-left: calc(var(--sirkaStlpcov) * -1);
  }

  @media only screen and (max-width: 600px) {
    :root {
      --sirkaStlpcov: 10px;
      --fontSizeRed: 5px;
      --fontSize: 8px;
    }
    .spanDate{
      transform: rotate(30deg);
      white-space: nowrap;
      text-align: left;
      position: absolute;
      bottom: -20px;
      font-size: 8px;
    }

    .countupFirstRed{
      margin-top: -6px;
    }

    .countAll{
      margin-top: -14px;
    }
  }
