.NacitatViacDniDoGrafov {
	background: white;
	padding: 5px;
	width: 40%;
	margin: auto;
	margin-top: 50px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 1px 1px 5px -4px rgba(0, 0, 0, 0.75);
	box-shadow: 1px 1px 5px -4px rgba(0, 0, 0, 0.75);
	margin-bottom: 25px;
	cursor: pointer;
	transition: .2s;
}

.NacitatViacDniDoGrafov:hover {
	/* font-size: 17px; */
	transform: scale(1.1);
}

table,
th,
td {
	border: 1px solid rgb(199, 199, 199);
	border-collapse: collapse;
	padding: 7px;
	text-align: left;
}
tr {
	background: white;
}
tr:hover {
	background: rgba(173, 173, 173, 0.068);
}

.divTable table th {
	color: rgb(85, 85, 85);
	/* position: sticky; */
	top: -1px;
	background: white;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
	padding-right: 25px;
}

table th:hover {
	cursor: pointer;
}

.divTable {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	font-size: 18px;
	overflow-y: auto;
	min-width: 200px;
	margin-bottom: 150px;
	transition: .9s;
	animation: .9s;
}

.firstCase {
	margin-top: -5px;
	margin-bottom: -5px;
	color: rgb(83, 83, 83);
	font-size: 13px;
	white-space: nowrap;
	/* color: red; */
	text-align: left;
	/* border: 1px solid red; */
}

.firstCaseNumber {
	display: inline;
}

.KrajinaLink {
	font-weight: bold;
	color: #385898;
	font-size: 18px;
}

.KrajinaLink:hover {
	text-decoration: underline;
}

.sortIcon {
	color: grey;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 20px;
	position: absolute;
}

#myInput {
	width: 250px;
	margin: auto;
	margin-bottom: 10px;
}

.divTable table .zrolovaneKontinenty .firstCase,
.divTable table .zrolovaneKontinenty td {
	background: rgb(230, 230, 230);
}

.divTable table .zrolovaneKontinenty td:nth-child(4) {
	background: rgba(254, 255, 194, .8);
}

@media only screen and (max-width: 800px) {
	.cardsDiv {
		flex-direction: column;
	}

	.cards {
		width: 100%;
	}
}

@media only screen and (max-width: 1200px) {
	.cardsDiv {
		margin-left: 0%;
		margin-right: 0%;
		padding: 30px;
	}

	.textCard {
		font-size: 1rem;
		padding-left: 10px;
	}

	td:not(:first-child) {
		white-space: nowrap;
	}

	.kontinenty {
		font-size: 10px;
	}
}

@media screen and (max-width: 720px) {
	.NacitatViacDniDoGrafov {
		font-size: 14px;
	}

	.NacitatViacDniDoGrafov:hover {
		font-size: 14px;
	}

	.divTable table th {
		top: -1px;
		font-size: 9.5px;
		padding-right: 5px;
	}

	.KrajinaLink {
		font-size: 9.5px;
	}

	.divTable table td {
		font-size: 10.5px;
		margin: 1px;
		overflow: auto;
	}

	.divTable table .zrolovaneKontinenty .firstCase,
	.divTable table .zrolovaneKontinenty td {
		font-size: 9.5px;
	}

	.firstCase::before {
		content: '';
	}

	table,
	th,
	td {
		padding: 4px 2px 4px 2px;
	}

	table th {
		padding-right: 1px;
	}

	.firstCase {
		margin-top: -1px;
		margin-bottom: -2px;
		font-size: 9px;
		line-height: 1;
		white-space: pre-wrap;
		color: rgb(141, 141, 141);
	}

	.sortIcon {
		margin-top: 3px;
		margin-left: 3px;
		margin-right: 5px;
		position: relative;
	}

	.firstCase {
		white-space: nowrap;
	}

	.firstCaseNumber {
		display: block;
	}
}

@media screen and (max-width: 520px) {
	table,
	th,
	td {
		margin-left: auto;
	}
}
