@mixin lower-then-desktop {
    @media (max-width: 950px) {
      @content;
    }
  }

.textPreZObrazenieTabulky{
    background: white;
    padding: 5px;
    width: 300px;
    align-self: center;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px -4px rgba(0,0,0,0.75);
    &:hover{
        cursor: pointer;
    }
}



.tabulkaOkrajDivMain{
    max-height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border:2px solid green;
    padding-top: 20px;
    

    .tabulkaMesta{
        font-size: 16px;
        width: 60%;
        max-width: 700px;
        overflow-y: scroll;
        @include lower-then-desktop {
            width: 99%;
            // max-width: 100%;;
            font-size: 12px;
          }
    
        table {
            width: 100%;
            border: none;
            th, td {
                border: none;
                padding: 10px;
                border-bottom: 1px solid rgba(148, 148, 148, 0.5);
        @include lower-then-desktop {
            padding-left: 5px;
            padding-right: 2px;
        }
            }

            td{
                white-space: pre-wrap;
            }

            th:first-child{
                .star{
                    // padding-left: 10px;
                    // padding-right: 10px;
                    // padding: 0;
                    margin-left: -7px;
                    margin-bottom: -2px;
                }
                // .starActive{
                //     padding-left: 10px;
                //     padding-right: 10px;
                //     margin-left: -10px;
                // }

            }
            th {
                color: rgb(88, 88, 88);
                position: sticky;
                top: -1px;
                box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.4);
                padding-right: 10px;
                background: white;
                // border:2px solid red;
                .sipkaNakazeni{
                    margin-bottom: -3px;
                    margin-left: 5px;
                    color: grey;
                }
                .sipkaPoslednyden{
                    margin-bottom: -3px;
                    margin-left: 5px;
                    color: grey;
                }
            }

            tr {
                padding: 0px;
                margin: 0px;
                line-height: 1;
                &:hover{
                    background: rgb(248, 248, 248);

                }
                .star{
                    padding-left: 10px;
                    padding-right: 10px;
                    color: rgb(160, 160, 160);
                    margin-left: -10px;
                    cursor: pointer;
                }
                // .starActive{
                //     padding-left: 10px;
                //     padding-right: 10px;
                //     color: rgb(160, 160, 160);
                //     margin-left: -10px;
                //     cursor: pointer;
                // }
            } 
        }
        // .plusPreObecInfected{
        //     color: red;
        //     font-size: 12px;
        // }

        // .plusPreObecRecovered{
        //     color: green;
        //     font-size: 15px;
        //     @include lower-then-desktop {
        //         font-size: 12px;
        //     }
        // }
    }
}